table
{
 border-right:  solid 2px Black; 
 border-bottom: solid 2px Black; 
}

td
{
 border:         solid 0px; 
 margin:         5px;
}

.writeable-cell, .readonly-cell
{
 width:          20pt; 
 height:         20pt; 
 vertical-align: middle; 
 text-align:     center; 
 font-size:      15pt; 
 border: 0;
 background: transparent;	
}

.readonly-cell
{
 color: Purple;
}

.tl-cell
{
 border-top:  2px solid Black;
 border-left: 2px solid Black;
}


.tm-cell
{
 border-top:  2px solid Black;
 border-left: 1px solid Silver;
}

.ml-cell
{
 border-top:  1px solid Silver;
 border-left: 2px solid Black;
}

.mm-cell
{
 border-top:  1px solid Silver;
 border-left: 1px solid Silver;
}

