<configuration>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown mode="Singleton" 
				type="R.RemoteObject, Server" 
				objectUri="IRemoteObject" />
			</service>
			<channels>
				<channel ref="tcp" port="5700" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>