<configuration>
	<system.runtime.remoting>
	<application>
		<client>
			<wellknown type="R.IRemoteObject, Shared"
			url="tcp://localhost:5700/IRemoteObject" />
			<wellknown type="R.IObjectProvider, Shared"
			url="tcp://localhost:5700/IObjectProvider" />
		</client>
		<channels>         
			<channel ref="tcp" port="6100" />
		</channels>
	</application>
	</system.runtime.remoting>
</configuration>
